[2014-06-01 14:40] SecUpwN opened #1 "Invitation for development"
Dear developers and supporters of the original admute-script, I felt like having an official Repository for further development of the automute-continous script would be cool - especially since mentioning people within GitHub Gists is not possible (it really hurts). And to be honest I couldn't sleep while thinking about whether creating this Repo or not. After many sleepless hours, I had to surren

[2014-06-01 15:26] SecUpwN opened #2 "Wrapper: Generic Spotify-Binary"
Hey @pcworld, can you help me out with a quick fix? I am currently testing our script on openSUSE using the latest Spotify. Because Spotify is not yet officially available for openSUSE, I am using [Spotify-Make](https://github.com/leamas/spotify-make) which works awesome for a hassle-free install and provides the latest Spotify binary.

The only difference is the name, by which spotify starts: Whe

[2014-06-02 11:21] SecUpwN opened #3 "Spotify stopping when Ad plays"
I am running our the Spotify-AdKiller on openSUSE, using the current version **0.9.10.17.g4129e1c9** of Spotify. It appears as if Spotify does not really mute the Ad, but rather stops its playback. The Spotify-AdKiller itself does detect the Ad, but seems to switch back to "normal playback" too soon - not sure if there's a looping process in there somehow? Would you please have a look at the scrip

[2014-06-03 20:50] #3 closed, assigned to nobody

[2014-06-05 11:30] SecUpwN opened #6 "Annoying file: collectionCache.bnk"
Hey @Feltzer, just a quick question here: Since the update of our script my Spotify seems to produce a file called `collectionCache.bnk` in my home directory. It contains cryptic symbols and many song titles, as well as Playlists I have made. How to avoid this thing being created?

[2014-06-05 11:51] #1 closed, assigned to nobody

[2014-06-05 12:58] SecUpwN opened #7 "Spotify-AdKiller only working manually"
Good evening, @Feltzer, I must admit that I have another Issue with the current version of our great script: It doesn't seem to work until I manually start it. I only realized that when I noticed that even if I place `spotify-adkiller.sh` and `spotify-wrapper.sh` into /usr/bin/ where the I also placed the Spotify-Binary and that Ads can play. I then manuelly started `spotify-adkiller.sh` from term

[2014-06-05 20:36] #6 closed, assigned to Feltzer

[2014-06-06 18:27] OlegSmelov opened #9 "Skript doesn't work properly when music folder is empty"
Current behaviour: Ad becomes paused. No further playback.
Expected behaviour: Ad is played, but muted. No local music is played, because there is nothing to play.

[2014-06-06 21:57] SecUpwN opened #10 "Support to work with Android?"
This is just something that popped up in my mind lately, although I'm not sure if this even works or should be implemented at all: On Android, I'm using the awesome [VLC Nightlies](http://nightlies.videolan.org/). Which made me think: Could our script use these builds to manipulate the Playback of Ads while using the phone, sitting on the campfire and playing relaxing music? Please don't take this

[2014-06-07 12:42] OlegSmelov opened #11 "How about a Python rewrite?"
According to https://google-styleguide.googlecode.com/svn/trunk/shell.xml,

Let's face it, Bash is not a very good language for anything other than very small and straightforward scripts. As this script is becoming bigger and bigger, we might as well rewrite it in Python before becomes too big.

A huge advantage to Python other than increased maintainability and easier data manipulation is that we

[2014-06-07 13:21] #10 closed, assigned to nobody

[2014-06-07 18:49] #9 closed, assigned to nobody

[2014-06-07 18:55] Feltzer opened #12 "Call for testing"
@SecUpwN, @OlegSmelov and everyone else following this project:

I just pushed a large commit to the repo that changes quite a lot of things (a full list of changes can be found in the [changelog](https://github.com/SecUpwN/Spotify-AdKiller/blob/master/CHANGELOG.md)).

I have done my fair share of testing but because this update changes the entire core of the script I'd really appreciate it if you

[2014-06-08 19:35] el-fran opened #13 "Some ads are not being muted"
hi! tks for this script works really fine!, I found some ads that were not silenced, the log was:

[code]

[2014-06-12 19:40] #7 closed, assigned to Feltzer

[2014-06-13 01:10] #12 closed, assigned to nobody

[2014-06-23 12:20] #11 closed, assigned to nobody

[2014-06-23 16:51] #13 closed, assigned to Feltzer

[2014-06-26 09:28] bartokm opened #14 "Local track starts twice"
Hi there!

I've noticed, that when an ad starts, my local track starts as it should, but a few seconds later, another local track starts to play in parallel. And after the ad is over, my online song started to play, so I had 3 songs playing together :)

Possible cause: Maybe two ads are played in one "ad section", and when the second ad starts to play that triggers the second local track.

Is ther

[2014-07-02 18:10] rhoconlinux opened #15 "Any clue on how to deal with visual ads?"
First, congrats for the moving! I'm fan of this project :)

I was wondering if someone have a clue on how to deal with the visual ads. I tried to grab them through a <code>tcpdump | grep "Spotify"</code> without sucess... and there all my limited ideas reach a limit. My intention was to ban the grep result on /etc/hosts if I were so lucky to find a really simple structure.  ^_^

Obviously the real

[2014-07-03 15:33] #14 closed, assigned to Feltzer

[2014-09-08 01:54] SecUpwN opened #16 "Spotify not found on latest Ubuntu"
Hey @Feltzer, it seems as if one of my friends has problems using Spotify-AdKiller on the latest version of `Ubuntu 14.04.1 LTS`. Spotify-AdKiller always complains that Spotify could not be found, although we installed it. I'm not sure which OS you're using, but could you digg into this to resolve it, please?

[2014-09-11 17:04] #16 closed, assigned to Feltzer

[2014-09-18 13:14] #15 closed, assigned to nobody

[2014-10-22 19:25] E3V3A opened #17 "What hardware does this work on?"
Would be great to know what hardware and OS this works on. Windows? OSX? Linux? Android?

[2014-10-22 19:52] #17 closed, assigned to nobody

[2014-12-18 13:58] rhoconlinux opened #18 "install.sh error"
On a fresh Ubuntu 14.04, when I run the install script I got this error:

<pre>
sh install.sh
install.sh: 69: install.sh: Syntax error: "(" unexpected (expecting "then")
</pre>

Cheers!

[2014-12-18 14:18] #18 closed, assigned to nobody

[2014-12-31 05:27] #2 closed, assigned to nobody

[2015-01-03 03:43] solvenus opened #19 "Ads are detected but do not get muted"
Since I first began using Spotify Adkiller just a week ago, all the ads have been killed consistently each and every time. Then today something changed. The ads are detected and local playback starts. But the ads aren't getting muted, so they play alongside the local playback. All of them. If I mute the ads Spotify will stop the ads, but Spotify Adkiller will automatically start the playback on mu

[2015-01-03 04:39] OlegSmelov commented on #19
Could you please provide more information about the distro you are using, the version of Spotify etc?

Judging by the way you've described the issue, there seems to be a problem with actually muting Spotify when needed, however, detection if an ad is running works fine.

[2015-01-03 04:47] solvenus commented on #19
Yes - correct, it detects the ads and in the log it even says it has done the muting etc. But it doesn't actually mute it anymore.

I am using Ubuntu 14.04 LTS (with Xubuntu Desktop Environment installed (so not Xubuntu)).
I am using Spotify v0.9.11.27.g2b1a638c.

Previously I noticed that Spotify Adkiller mutes Spotify without looking like it has done so. I mean, without lowering the volume bar i

[2015-01-03 23:41] SecUpwN commented on #19
@solvenus, welcome to the Spotify-AdKiller Project! Have you tried the `Troubleshooting` instructions from our `README`? If not, please do so. Also, please provide some logs of `spotify-adkiller.sh` here.

[2015-01-04 00:08] solvenus commented on #19
Thank you SecUpwN! I was impressed at how consistent your app has been at detecting the ads, 100%.

I installed Adkiller with the automatic git clone the installer and it worked perfectly. I have a menu shortcut to adkiller, and spotify-adkiller.sh and spotify-wrapper.sh is placed in the bin folder in my home folder.

Here are some log-data:

[code]

[2015-01-04 00:19] solvenus commented on #19
Maybe what has happened is that I have uninstalled pulseaudio from the unity desktop environment. Since it interfered with my other audio driver, xfce4-mixer.

[2015-01-04 00:24] SecUpwN commented on #19
@solvenus, that is a damn long logcat. Next time, please just paste the URL to [PIE BIN](https://defuse.ca/pastebin.htm). Have made sure that all [Dependencies](https://github.com/SecUpwN/Spotify-AdKiller#dependencies) have been met for your system?

[2015-01-04 00:27] OlegSmelov commented on #19
The script uses PulseAudio to mute the sound. So if PulseAudio is uninstalled / broken, the muting won't work.

[2015-01-04 00:28] solvenus commented on #19
Sorry, fixed the comment per your suggestion ;-)

Alright OlegSmelov, then I know what the problem is. Thanks :-)

[2015-01-04 00:35] SecUpwN commented on #19
Thanks for helping out, @OlegSmelov. Please close this Issue when you confirmed it is solved, @solvenus.

[2015-01-04 01:13] solvenus commented on #19
yes, it was pulseaudio.

[2015-01-04 01:13] #19 closed

[2015-02-05 09:02] zsteinmetz opened #20 "Error: Spotify not found"
Since yesterday, AdKiller doesn't manage to find the Spotify runtime, so that ads remain unblocked. I've already pulled the latest git. Maybe Spotify has changed anything in their way of treating songs?
Unfortunately, I haven't had the time to dig deeper. Any ideas?

// Running on Ubuntu 14.10, Spotify 0.9.11.27

[2015-02-05 17:06] kodzak commented on #20
Yes, they did. They change name of window from "Spotify - Linux Preview" to "Spotify Free - Linux Preview". But unfortunately the change something else and app doesn't block ads.

[2015-02-05 19:07] kodzak commented on #20
Any idea what more change or this is all and my script don't work... ?

[2015-02-05 19:48] kodzak commented on #20
Good still working i forget change name in other file. I don't check other script spotify-adkiller. :)

[2015-02-06 08:37] philippeluickx commented on #20
+1

[2015-02-06 10:44] zsteinmetz commented on #20
Okay, the workaround is to change WMTITLE="Spotify - Linux Preview" to WMTITLE="Spotify Free - Linux Preview" in <b>both</b> spotify-adkiller.sh and (line 44) and the wrapper script (line 41)

[2015-02-06 10:52] OlegSmelov commented on #20
@zsteinmetz :+1:

I'll update the script tomorrow or the day after. Until then, use this workaround.

[2015-02-06 13:00] SecUpwN commented on #20
Welcome to Spotify-AdKiller, @zsteinmetz! I see that @OlegSmelov has already reviewed your pull requests - thank you for your awesome commitment here! I have helped @leamas to solve the Issue where it says "[GCRYPT_1.2 not found](https://github.com/leamas/spotify-make/issues/40)" - can you test his feature branch so that it will finally be merged?

[2015-02-06 14:04] Feltzer commented on #20
Thanks for the bug report, @zsteinmetz.

For the time being I've put together a solution and pushed it to [a new branch](https://github.com/SecUpwN/Spotify-AdKiller/commit/1c205635a83193f45e1b8771a99168abaffa5cff). I don't think it's as elegant as it could be, but it does its job. I've added some documentation to the README to account for the changes.

Would love to hear your thoughts on this solu

[2015-02-09 21:28] Feltzer commented on #20
As per the discussion on #21, I've merged the two pull requests by @zsteinmetz. Spotify-AdKiller should be able to find the Spotify again now. Thanks for helping us track this down, guys!

[2015-02-09 21:28] #20 closed

[2015-02-13 13:44] rhoconlinux commented on #15
Just for sake of human-related stuff, I made this little bash script to install the result of this discussion. So, if someone want to try the dns blocker (a.k.a. visual ad-blocker), just open a terminal and run this line <b>after a successful install of the latest version of the ad-killer</b> :

<pre>
cd ~/bin && mkdir -p dns-block && cd dns-block && wget http://ur1.ca/jpttl -O dns-block.c && gcc

[2015-02-14 13:12] rhoconlinux opened #24 "question: is this a suitable solution for the muting problem?"
I'm having a recurrent muting of spotify after the adds blocking. As you mention in the readme, it is solved by running one simple line. I try it manually and works like a charm... but I have to confess that it is a bit annoying :) So, since I'm using the simple blocking mode (in other words, just mute spotify  during the add), I am currently trying this modded version of the adkiller script:

in

[2015-02-14 15:54] Feltzer commented on #24
Hi again and thanks for the bug report!

I must admit that I've been experiencing the same issue for a while now, but I haven't had the time to track it down properly, yet. I'll do some debugging over the next few days and try out some solutions including yours :).

[2015-02-15 18:02] SecUpwN commented on #15
Cool thing, @rhoconlinux! Too bad we don't have it in our main script. Would be awesome if users could just enable the DNS blocker via uncommenting a line of code, instead of fetching a different branch..

[2015-02-17 13:38] rhoconlinux commented on #15
we could do a new install script with user interaction? asking for the dns blocking options, automute mode and exec location? (i.e. I install the stuff in /usr/local/bin instead of my home folder). What do you think?

[2015-02-20 06:33] SecUpwN commented on #15
@rhoconlinux, I would like to avoid adding *another* script in the means of a new file, but if you could improve or revamp our existing one, that would be fantastic! Feel free to craft a fresh PR for that! :sunglasses:

[2015-02-26 10:20] SecUpwN commented on #24
Good morning @Feltzer, what's the current status of this?

[2015-02-26 14:16] Feltzer commented on #24
Hi, sorry for the delay.

This is a somewhat tricky problem to tackle because the bug is hard to reproduce. I am still not quite sure under which circumstances the unmuting fails. I am experimenting with a few code changes based on @rhoconlinux's idea, but I can't say for sure if they are working. See, ever since I introduced these changes on my local branch I haven't experienced this bug, but bec

[2015-02-26 14:43] Feltzer commented on #24
Alright, there we go. The [testing](https://github.com/SecUpwN/Spotify-AdKiller/tree/testing) branch is up. I'd appreciate it if you guys gave it a try. Let's see if it fixes this issue.

[2015-02-26 15:43] rhoconlinux commented on #24
awesome, will try it now. By the way, the first attempt I posted above didn't solved the issue, however in order to be exhaustive (and most likely redundant) I added the same line in several places, specially in the unmute definition and and after every time the unmute function was called. Seems to work, but as you say is really a "hunch" because I don't know how to test it. ^_^
Cheers!

[2015-02-27 20:38] quietoparado opened #26 "How to fix rare instances of ads not being muted"
Hi! thanks for this script, it works really fine but some rare ads has a DBUS empty value and I have changed the script for remove it.

**RARE ADS**

    -----------------------------------------
    XPROP:    Spotify - Spotify – Spotify
    DBUS:
    PAUSED:   No
    AD:       No
    LOCAL:    No
    ## Regular track ##
    DBUSOUTPUT : method return sender=:1.9904 -> dest=:1.12729 reply_serial=2

[2015-02-28 04:38] Feltzer commented on #26
Hi,

first of all thanks for your feedback! We are always happy about new contributions.

Awesome. Never having experienced this type of bug myself I am glad that you were able to track it down. I will give your condition checks a try and see if they work fine here. If they do I will add them to the testing branch, so more people can test them out.

The reason that `cut | rev | cut | rev` sequence

[2015-02-28 06:04] Feltzer commented on #26
OK, seeing how I have never been able to reproduce this issue on my system I'd really appreciate it if you could post or link a couple more excerpts of your debug logs where you think the unmuted ads appear. And, for comparison's sake, it would also be good to have a couple log excerpts where everything is working fine.

Also, it looks like you printed `$DBUSOUTPUT` manually by modifying the scrip

[2015-02-28 10:01] quietoparado commented on #26
Thanks for yours coments, I go to try the master script whit DEBUG=1 and see if I can reproduce the problem, but the results of the DEBUG will be the same as printing the variable manually, I also have printed without changing the master script. The problem is that these tracks with announcement has variable DBUSOUTPUT as shown:

DBUSOUTPUT : method return sender=:1.9904 -> dest=:1.12729 reply_ser

[2015-02-28 11:05] Feltzer commented on #26
That's far more elegant than what we had before. Thanks! I added it to the testing branch (7ae93cd068844b558e4fa018784290858aea95d6).

Thanks for the explanation. I see what you mean now.

77a0253a1c6ce6b5496b812aa31295b6bf067a42 implements the changes you suggested. I slightly modified your syntax to be more consistent with the rest of the script, but the logic should be the same. If you can, ple

[2015-03-01 17:49] SecUpwN commented on #26
@quietoparado,thank you for your awesome contribution! @Feltzer, when to merge?

[2015-03-02 07:18] Feltzer commented on #26
As soon as we get some more testing done. The most important thing right now is to ensure that the changes to the ad detection logic don't result in some unforeseen regressions. That's why I would encourage everyone willing to help to switch to the testing branch and try it out for a few days. After that we can merge everything into the master branch.

The next step would be to check whether the l

[2015-03-04 10:15] Feltzer commented on #26
@quietoparado

I am sorry, but it looks like the empty DBUS output is not a reliable indicator of ads being on. Over the past few days I've discovered multiple instances where the AdKiller would trigger falsely and mute regular tracks. I have managed to squash one type of these false positives with c557d238e825de8adba7ba79a3bb18121a3b3f54, but that only applies to the issues experienced at startup

[2015-03-04 10:20] Feltzer commented on #24
@rhoconlinux

Hi there,

just wondering how the testing is going. Have you experienced any mutes of this type since switching to the testing branch?

[2015-03-04 15:13] quietoparado commented on #26
Clearly there are more disadvantages than advantages to detect empty DBUS like an advertisement. I use Spotify version 0.9.4.183 and Discover does not work, why had not detected the error by introducing the logic of empty DBUS equal to ad. I believe that although some announcements are heard, we should not lose functionality in the Discover page. Thank you for your interest in solving this problem

[2015-03-04 19:42] rhoconlinux commented on #24
Indeed I experienced a major issue due to the systematic fail in blocking. But no drama with the muting till now.

[2015-03-06 07:34] Feltzer commented on #26
@quietoparado Yeah, the experience with older Spotify clients definitely varies. We should probably add a note on this to the documentation.Thanks again for all your help and input!

I have reverted the changes to the ad detection logic for the time being and merged the testing branch into main. I will leave this issue open as we haven't managed to find a solution, yet. If anyone has any ideas how

[2015-03-06 07:38] Feltzer commented on #24
@rhoconlinux: Thanks for the feedback! I have reverted the changes in the testing branch that were causing the regressions in ad detection and merged the commits related to the muting problem into the master branch. I'd really appreciate it if you could give the latest master branch a try to see if everything works fine for you.

[2015-03-17 13:04] jaybourn opened #28 "Second consecutive ad is unmuted."
If two ads are played in a row, Spotify is unmuted for the second ad. I start spotify by using the spotify-wrapper.sh script.

Ubuntu 14.04
Spotify 0.9.11.27.g2b1a638c
Lastest master version of adkiller.

Config:
[code]

Example output:
[code]

[2015-03-17 16:45] Feltzer commented on #28
Hi. Thanks for the bug report. To track this down we will need to dig a little deeper into the logs. Could you please set `DEBUG` to `1` in the config file and try to reproduce the bug? As soon as you've got it please post the log excerpt here.

[2015-03-17 16:49] SecUpwN commented on #28
Whoa, I', amazed at how fast you are tackling all these things @Feltzer. So happy to have you here, man! Let me know if there's anything good I can do for you to show you my appreciation of your work!

[2015-03-17 17:08] Feltzer commented on #28
@SecUpwN Thanks for the kind words :). Honestly, I am just happy to help, but I appreciate the sentiment!

@jaybourn Actually, scratch what I said in my last post. Please give the latest master branch a try. I think the issue should be fixed now.

[2015-03-17 17:10] Feltzer commented on #28
No idea why, but my commit closed this issue automatically. Sorry about that.

[2015-03-17 21:49] SecUpwN commented on #28
@Feltzer, that's not a bug, it's a feature: If you commit with `fix #28`, GitHub closes it as fixed.

[2015-03-18 12:12] Feltzer commented on #28
@SecUpwN Interesting! Somehow I never noticed that.

[2015-03-18 16:46] jaybourn commented on #28
@Feltzer The issue seems to be fixed with your last commit. Thanks for doing it so promptly and keep up the good work!

[2015-03-18 19:46] #28 closed

[2015-03-18 21:25] Feltzer commented on #28
@jaybourn Awesome. That's great to hear :).

[2015-03-20 03:01] SecUpwN commented on #26
Maybe @OlegSmelov's smart brain has some ideas on how to tackle this?

[2015-04-18 17:15] SecUpwN commented on #24
Any news on the testing with our `master` branch, @rhoconlinux?

[2015-04-23 15:01] rhoconlinux commented on #24
It's been working flawlessly :)
Thanks a lot!

[2015-04-24 04:31] SecUpwN commented on #24
Makes me very happy to hear! @Feltzer, send me your postal address via mail to get a German beer!

[2015-04-24 04:31] #24 closed

[2015-04-24 07:50] OlegSmelov commented on #24
@SecUpwN is tricking @Feltzer into giving away his postal address :trollface:

[2015-04-24 08:31] SecUpwN commented on #24
Of course! I will have a massive cum party at his house.. with **YOU**, @OlegSmelov! :tada:

[2015-05-01 09:16] Feltzer commented on #24
@rhoconlinux Awesome. Glad to hear that!

@SecUpwN Not that big on beer myself, but I appreciate the gesture! Also, @OlegSmelov makes a good point: [How do I know you're not the NSA](https://i.imgur.com/wJfihlm.jpg)?

[2015-06-13 17:20] SecUpwN commented on #26
Without being pushy, are there any news on this Issue yet?

[2015-06-19 10:25] Feltzer commented on #26
@SecUpwN Nope, nothing comes to mind, yet. Sorry.

[2015-06-21 17:09] rafa10pj opened #29 "Modifications to cfg file don't have effect"
AdKiller is working fine for me as is, but I've been meaning to change some of the options in the cfg file.

Mind you, I'm new to Linux so this might be a stupid oversight on my part, but I can't seem to be able to change AdKiller's behavior when changing the .cfg file. Specifically, I've tried changing mode by setting

`CUSTOM_MODE="simple"`

The local music folder by setting

`CUSTOM_MUSIC="/mnt

[2015-06-21 17:12] SecUpwN commented on #29
Good evening @rafa10pj and welcome to our project on GitHub! :+1:

@Feltzer, I cannot see any error on his part, is this a bug in our script? What do you recommend?

[2015-06-21 17:23] rafa10pj commented on #29
Hey @SecUpwN, I use Ubuntu 14.04. And thanks! This is a great little solution for Spotify.

[2015-06-21 17:33] SecUpwN commented on #29
You may press the `Star` button if you like it. :) Let's wait for @Feltzer to answer..

[2015-06-25 14:43] rafa10pj commented on #29
I've not been able to sit down at my desk to check the logfile, will do ASAP, @SecUpwN.

[2015-07-03 20:33] Feltzer commented on #29
Hi @rafa10pj,

thanks for posting a bug report. Are you sure you are modifying the right configuration file (not the one in the download folder, but the one at `~/.config/Spotify-AdKiller/Spotify-AdKiller.cfg`)?

[2015-07-03 21:22] rafa10pj commented on #29
Hey @Feltzer,

I can only find one configuration file in my computer and it's in ```/home/rafael/Spotify-AdKiller```. I believe I deleted the download files long ago.

[2015-07-03 22:46] SecUpwN commented on #29
@rafa10pj, please re-download all files properly and re-verify this Issue. Thanks.

[2015-07-03 23:32] rafa10pj commented on #29
Okay, I just noticed that I was modifying is the .cfg file that's created when the git is cloned. Where should I find the proper .cfg file? It's not where the 2 .sh files are in ```/home/rafael/bin```

[2015-07-04 05:42] Feltzer commented on #29
That's fine. I am glad you figured it out :). Have fun with Spotify AdKiller!

I will close this now.

[2015-07-04 05:42] #29 closed

[2015-08-10 23:59] CHEF-KOCH commented on #15
Yo WAAZZZUPPPP?! :laughing:

On older desktop clients the Spotify uses the P2P protocol to get the music that's e.g. why  68.232.34.151 was shown, I guess such behavior was already changed since this was only during the start. Blocking the random IP's is almost useless and I [not recommend to use this](https://www.robtex.net/#!dns=spotify.com) I doubt that works for all on every system or client.

[2015-08-20 18:15] ohnoplus opened #31 "Can't find Spotify-AdKiller.cfg"
I do have the directory `$HOME/.config/Spotify-AdKiller/` but there is no `$HOME/.config/Spotify-AdKiller/Spotify-AdKiller.cfg` file.
Am I supposed to do something to make this file appear, or write it manually?
Ultimately, I am trying to like to switch the mode from continuous to simple.

[2015-08-21 11:01] Feltzer commented on #31
Hi,

the config file is written automatically when the installation script or the wrapper script are run for the first time. Why this didn't work in your case I don't know. Could you please run the installer (install.sh) again in a terminal and post the output here?

Of course you can always just copy the default configuration file from the zip file / cloned repository into the config directory, b

[2015-08-24 07:53] SecUpwN commented on #31
@ohnoplus, please update this Issue with the requested output above. If the second try did work now, please close this Issue, otherwise I will do so on **wednesday** at the latest. Thanks or understanding.

[2015-08-25 17:17] ohnoplus commented on #31
@Feltzer could you please extend this deadline to Friday. I am super busy the next two days but do want to get to the bottom of this.

[2015-08-26 11:26] Feltzer commented on #31
@ohnoplus  Sure, no problem.

[2015-08-28 17:29] ohnoplus commented on #31
Thanks for waiting. The command still did not create the config file; see below for command line output.

$: sudo . installh
## Changing permissions ##
mode of ‘spotify-adkiller.sh’ retained as 0775 (rwxrwxr-x)
mode of ‘spotify-wrapper.sh’ retained as 0775 (rwxrwxr-x)

## Creating installation directories ##

## Installing files ##
‘spotify-adkiller.sh’ -> ‘/home/ohnoplus/bin/spotify-adkiller.sh’

[2015-08-28 18:04] Feltzer commented on #31
Thanks for the install log. I think I found the issue: The installer was checking for an existing configuration file (in order not to overwrite any settings set by the user), but instead of looking in the actual config directory it was looking in the working directory. This should be fixed with 14bbbc3ffd723df7355cfbda8ae55735d422b343.

On another note: I noticed that you used `sudo` to run the in

[2015-08-28 18:33] ohnoplus commented on #31
Yep. The new version seems to work as expected. Thanks!

[2015-08-28 18:33] #31 closed

[2015-09-15 13:38] dokker opened #32 "Play Bell sound loop"
When I set CUSTOM_MODE to interstitial the random track starts to play from my chosen directory flawlessly.
In addition a bell starts to play continously from /usr/share/sounds/freedesktop/stereo location. It doesn't stop after the playback change back to spotify.

(By the way It's an awesome script. Big thanks to you!)

[2015-09-16 08:52] VincentChalnot commented on #32
Same thing here, I'm on KUbuntu and the beep stops if I kill VLC.

[2015-09-16 20:45] Feltzer commented on #32
Thanks for the reports, guys.

Looks like VLC remembers the repeat setting across sessions, so when the mode is set to interstitial the audio alert will also be played on repeat. I hadn't come across this bug because I was using mpv on my system.

Seeing how the audio alert was annoying anyway and didn't serve much of a purpose next to the GUI notifications, I decided to remove it (6b6252cc0626633

[2015-09-17 05:10] OlegSmelov commented on #32
@Feltzer `vlc` has a `--play-and-exit` parameter, perhaps that can help?

[2015-09-17 14:06] Feltzer commented on #32
Yeah, the funny thing is that without `play-and-exit` `cvlc` wouldn't exit in the first place - even when there's no repeat and the playlist is over.

VLC has quite a few quirks like that, I found. For instance, GUI and CLI sessions share settings like repeat and volume. So if you set VLC to repeat a video and then mute it, next time you run `cvlc` to listen to an mp3 you will end up with silence

[2015-09-19 08:31] #32 closed

[2015-09-20 04:25] SecUpwN commented on #32
Thanks for solving bugs like these without my intervention, @Feltzer and @OlegSmelov. I'm still very happy to have you in my team of Collaborators for this project. Also thanks for the warm words, @dokker!

[2015-09-21 07:07] VincentChalnot commented on #32
A big thanks for all of you, this project rock :+1:

[2015-09-21 07:44] dokker commented on #32
It works fine now. Thanks!

[2015-09-29 19:44] nathanurwin opened #34 "~/bin/spotify-wrapper.sh closes as soon as spotify loads?"
Ads are not being muted, I'm on `Linux xyz 3.16.0-4-amd64 #1 SMP Debian 3.16.7-ckt11-1+deb8u3 (2015-08-04) x86_64 GNU/Linux` with Spotify `Version 0.9.17.1.g9b85d436`. I believe the adkiller script is closing as soon as Spotify loads for some reason?

    user@home:~$ bash ~/bin/spotify-wrapper.sh
    ## Waiting for Spotify ##
    ## Waiting for Spotify ##
    DEBUG mode active
    user@home:~$ _

[2015-10-02 12:15] raphael-costa commented on #34
Did you install Pulseaudio? It's not tagged as a dependency in the AURfor some reason

[2015-10-06 20:09] trinaldi commented on #34
Check the above mentioned, if that doesn't help,I 'm not sure if I'll be able to. But I'm running the latest (testing `1:1.0.15.137.gbdf68615`) version of Spotify with the DNS block.

One thing I had to change in the `spotify-wrapper.sh` file was the line 41:

to

Otherwise I'd get the message "Error: Spotify not found."

Also, I really recommend the DNS block, it's very effective. One thing I mis

[2015-10-06 21:50] nateurwin commented on #34
@raphael-costa Yes, I have pulseaudio and the other dependencies installed.
@trinaldi What is the DNS block?

To be honest I gave up on trying to get this to work, and have been using this [gist](https://gist.github.com/pcworld/3198763/#gistcomment-857143). It would be nice to not have to run a terminal in the background everytime I want to listen to music though.

[2015-10-06 21:55] trinaldi commented on #34
CHeck this branch:
https://github.com/SecUpwN/Spotify-AdKiller/tree/dns-block

[2015-11-02 13:27] dokker opened #36 "Spotify ads came back"
Is it posible that the ads can't be blocked anymore? How can I help to investigate what happened?

[2015-11-02 13:33] OlegSmelov commented on #36
Did you update Spotify?

[2015-11-02 13:48] dokker commented on #36
Yes I updated recently ( to 0.9.11.27)
Unfortunately I can't attach my log file here.
Log: https://gist.github.com/545586126036071fe5f7.git

[2015-11-03 08:35] dokker commented on #36
The Issue gone away after rebooting. It semms the problem related to my system and upgrade.

[2015-11-03 08:35] #36 closed

[2015-11-16 00:20] SecUpwN commented on #34
@nathanurwin, is your question here solved now?

[2015-11-16 00:21] SecUpwN commented on #26
Maybe @itsamenathan has an idea about this?

[2015-11-17 22:25] cmt29 opened #37 "Script not working on Spotify 0.9.X"
The latest changes to the spotify-adkiller.sh seem to stop it working for me. Ads are not muted, and the DBUS_DEBUG: line is empty in the debug log.

Two errors are listed if I run spotify-adkiller.sh manually:
`awk: line 6: syntax error at or near ,`
`awk: line 16: syntax error at or near ,`

If I use the previous version of spotify-adkiller.sh, all is well.

[2015-11-18 00:07] SecUpwN commented on #37
I suspect this to an Issue caused by https://github.com/SecUpwN/Spotify-AdKiller/commit/3c72601d5a1498dd31e7166ae05c7c07e1c60cfa. Hopefully @itsamenathan can have another look at this.

[2015-11-18 19:44] itsamenathan commented on #37
@cmt29 what version of Spotify are you using?  #35 is based #33 which brought support for the latest version of Spotify.

I do here "Spotify" ads every now and then.  I'm not completely sure why.  Here are the logs I see when that happens.

XPROP_DEBUG: _NET_WM_NAME(UTF8_STRING) = "Spotify"
DBUS_DEBUG:   - Spotify
XPROP:    Spotify
DBUS:      - Spotify
PAUSED:   Yes
AD:       Can't say
LOCAL:    N

[2015-11-21 21:40] cmt29 commented on #37
I'm on version 0.9.17.1.g9b85d436. Are the changes not backwards compatible?

With the latest version of spotify-adkiller.sh, the DBUS_DEBUG: line is empty the whole time, and I only ever get one entry in the log no matter how many songs or ads are played.

[2015-12-01 21:47] nathanurwin commented on #34
@SecUpwN Yeah, you can close this issue. I use mplayer in a terminal for music now.

[2015-12-02 09:06] tialis opened #39 "Spotify not active. Exiting."
Hi all,

I followed the readme file (installed dependencies, modified ~/.config/spotify/User/<your username>/prefs and all) using Ubuntu 14.04, and the script is not working.

On debug mode, it prompts:

## Ad block mode: automute_simple ##
## Using cvlc for local playback ##
Spotify not active. Exiting.
## Restoring settings ##

Is there any chance to fix the problem?

Thanks!

[2015-12-02 18:11] SecUpwN commented on #39
See section `Trobleshooting` at [Installation](https://github.com/SecUpwN/Spotify-AdKiller#installation). Which `Spotify` do you use? If you used [spotify-make](https://github.com/leamas/spotify-make), please symlink it (link `my-spotify` to `spotify`) so that our script recognizes the binary.

[2015-12-02 18:13] SecUpwN commented on #34
Does that work with `Spotify-AdKiller`, or did you ditch our script?

[2015-12-02 18:43] nathanurwin commented on #34
@SecUpwN

No, I stopped using `Spotify-Adkiller`, but just because I really stopped using spotify. I have a hunch the script was just installed incorrectly, since I was on debian and not ubuntu so feel free to close this issue.

[2015-12-02 18:47] #34 closed

[2015-12-03 08:24] tialis commented on #39
I think the problem is now solved. I executed in a terminal the spotify-adkiller.sh, and saw the following error:

wmctrl: command not found

I installed the wmctrl package and the .log shows that the macro is still running. Maybe the wmctrl package should be added to the dependencies for Ubuntu?

Now that the macro seems to be running, ads are still not being muted. I have the same awk errors as

[2015-12-03 08:36] tialis commented on #37
I have exactly the same problem as described by cmt29. Same spotify version, on Ubuntu 14.04.

[2015-12-03 10:40] tialis commented on #37
Just to confirm, I tested the tree d9f83491a164f07c03d2325cc47838f67756fce0 and still did not work. I tested tree 6b6252cc0626633a1d5700d0cfb9ddde940d1d75 and solved the problem.

[2015-12-03 12:21] SecUpwN commented on #39
@Feltzer, please tell me if I shall add that to the dependencies on our `README` before I close this.

[2015-12-03 17:16] Nhoya opened #40 "wmctrl: missing dependencies"
Hey there, at line 562 of `spotify-adkiller.sh`:
[code]
wmctrl is not a default utility so please add it to dependecies list  ty :+1:

[2015-12-03 18:52] SecUpwN commented on #40
Good evening @Nhoya, is this actually a dupe of #39? I'll add the dependency soon, stay tuned.

[2015-12-03 18:59] #39 closed

[2015-12-03 18:59] #40 closed

[2015-12-03 20:12] Nhoya opened #41 "Debug is logging only first track and exit status"
Hey there, i'm trying to use debug but it logs only the first track and the exit status.. really not understanding why.. some advice?

I'm using Spotify 0.9.17.1 on debian

I'm trying to use debug because the ads are not being muted anymore and i'm trying to understand why

[2015-12-03 20:33] SecUpwN commented on #41
@Feltzer, would you help him, please? Thanks a lot!

[2015-12-03 21:31] Nhoya commented on #41
@SecUpwN Gotcha! the problem is the same exposed here https://github.com/SecUpwN/Spotify-AdKiller/issues/37 after the commit 6b6252c something went wrong for older versions i think it need an hard fix or just a branch for old-stable version of spotify( 0.9.17.1 )
P.S.
i think we can close it and link to the other one!

[2015-12-04 10:07] #41 closed

[2015-12-04 11:40] SecUpwN commented on #37
@cmt29, we've had some ssmaller code changes. Would you please tell us if this Issue persists?

[2015-12-04 13:46] cmt29 commented on #37
Yes, I'm afraid the issue persists.

[2015-12-08 04:35] johnspear2015 commented on #37
Hello I am having the same problem, still getting ads.
Ubuntu 14.04
Spotify 0.9.17.1.g9b85d436

With the following errors:

## Using cvlc for local playback ##
awk: line 6: syntax error at or near ,
awk: line 16: syntax error at or near ,
XPROP:    Spotify Free - Linux Preview
DBUS:
PAUSED:   No
AD:       No
LOCAL:    No
## Initial run ##
## Unmuting sink 39 ##
--------------------------

[2015-12-08 11:23] SecUpwN commented on #37
@Feltzer, I'm not sure why this suddenly happens. Would you please try to find out? Thank you!

[2015-12-08 13:11] x-ji opened #42 "Not working on Spotify 0.9.17.g9b85d436?"
The README file specified version 0.9.11. However when I installed the official version of Spotify on Ubuntu yesterday, the version was already `0.9.17.g9b85d436`. The script seems to be not working. Is this version not supported indeed? If so, is it possible for me to install 0.9.11 instead of 0.9.17.

[2015-12-08 21:25] Feltzer commented on #42
This is a duplicate of #37.

[2015-12-08 21:25] #42 closed

[2015-12-08 21:32] Feltzer commented on #37
Commit d59e2609ff960cd75c59bb39fa6d2cf6ca990441 is probably the root issue of this as it added support for Spotify 1.x without keeping the script backwards-compatible wih 0.9.x. For the time being please switch to the last release known to be working with 0.9.x: https://github.com/SecUpwN/Spotify-AdKiller/tree/6b6252cc0626633a1d5700d0cfb9ddde940d1d75

Sadly I don't have the time right now to work

[2015-12-09 04:53] SecUpwN commented on #37
No worries, I am *very* thankful you found the time to coma back and have a look at it!

Before doing so, I'd like the original author of https://github.com/SecUpwN/Spotify-AdKiller/commit/d59e2609ff960cd75c59bb39fa6d2cf6ca990441, @ysangkok, have a look if he finds the bug.

[2015-12-10 13:25] ysangkok commented on #37
@SecUpwN I just downgraded to 0.9.17.1.g9b85d43 and tried out 6b6252cc (before my commit), and it wasn't working.

This is what I get when Spotify is paused, playing an ad or playing a song:
[code]

I'd like to get it working with both versions, but first I have to get the old version working... @tialis which distribution version are you using?

[2015-12-10 18:22] johnspear2015 commented on #37
I reverted back and it works, as suggested above:

"For the time being please switch to the last release known to be working with 0.9.x: https://github.com/SecUpwN/Spotify-AdKiller/tree/6b6252cc0626633a1d5700d0cfb9ddde940d1d75
"

[2015-12-17 17:57] Nhoya commented on #37
Jus make a new branch for the oldstable ;)

[2015-12-17 22:20] SecUpwN commented on #37
@Nhoya, so that we then have x different branches for everything? No. I'm still waiting for @ysangkok.

[2015-12-27 15:46] kriswebdev commented on #37
Issue confirmed with Spotify testing version **1.0.19**.106.gb8a7150f, with latest Adkiller (master # d10e543) on Ubuntu 15.10 "The Wily Werewolf".

Issue solved with **`sudo apt-get install gawk`**.

Note that Ubuntu 15.10 uses `mawk` as the default `awk` implementation. Installating gawk replaces `awk` implementatiton (it ca be undone through `sudo update-alternatives --config awk`).

Also note

[2015-12-27 15:51] SecUpwN commented on #37
Thanks for proposing this fix, @kriswebdev! Do you think adding `gawk` to the dependencies of every Linux variant in our `README` would finally fix this problem? @cmt29, please confirm this fix! ;-)

[2015-12-27 16:40] kriswebdev commented on #37
@SecUpwN , you really can't really on mawk, due to this code portion in `spotify-adkiller.sh`:

    DBUSOUTPUT=$(dbus-send ... | awk '
    ...
            match(line, /"(.*?)"/, arr)
    ...
      ')

You're using the match() function with 3 arguments, unsupported by mawk.

[mawk manual](http://invisible-island.net/mawk/manpage/mawk.html):

[gawk manual](https://www.gnu.org/software/gawk/manual/ht

[2015-12-27 19:39] kriswebdev commented on #26
Not related to empty DBUS, but I get those tracks not muted on Spotify 1.0.19.106 (they are not paused by the way):

[code]

[2015-12-31 15:37] Feltzer commented on #37
Everyone, please give the latest version of the script a try. a45eabbc6db09d64e0bc1a187102ef78aa5fa859 should fix most of these issues. AdKiller now supports both the legacy Spotify releases and the new beta version. The dependency on wmctrl has been dropped in favor of xdotool, so please make sure to install the corresponding package on your distro.

`gawk` is no longer a problem, either, as the

[2015-12-31 21:08] cmt29 commented on #37
Thanks. Can confirm that a45eabbc6db09d64e0bc1a187102ef78aa5fa859 fixes all the problems I was experiencing that opened this issue.

[2015-12-31 21:08] #37 closed

[2016-01-02 12:31] Nhoya commented on #37
Nope, still not working on the older version with the last commit.

[2016-01-02 21:13] SecUpwN opened #44 "Verify Similar Projects"
Good evening, @Feltzer! I would like to know if we should keep the [Similar Projects](https://github.com/SecUpwN/Spotify-AdKiller#similar-projects) in our `README` or if we should add those to a separate WIKI entry (in that case I'd need to create our WIKI first). Reason for this discussion is that I do not want outdated or invalid projects to be recommended in our project `README`, which could le

[2016-01-03 06:41] Feltzer commented on #44
Yeah, some seem to be unmaintained. We should probably remove spotimute and indicator-muteads from the list, as both of these haven't seen an update in years.

As for the wiki, I don't think that's necessary. It would be fairly empty with only an entry for links to similar projects. I think we should keep this in the README, as long we check to make sure that the other projects are maintained ever

[2016-01-03 06:48] Feltzer commented on #26
@kriswebdev This is a actually a new bug that has become evident with Spotify 1.x.

We used to be able to tell whether a track or ad was paused by looking at the xprop output. If it only read `Spotify` that would indicate a playback pause.

The same output is much more ambiguous with Spotify 1.x. As we rely on being able to tell whether a track is paused or not in order to control interluded local

[2016-01-03 12:05] SecUpwN commented on #44
Thanks @Feltzer, I have just removed the projects you mentioned, but in the long run, we're likely not able to maintain a current list of working projects since there are simply [too many](https://github.com/search?utf8=%E2%9C%93&q=spotify+mute). So what to do in the long term?

[2016-01-03 15:36] Feltzer commented on #26
@kriswebdev The latest commit should fix your issue.

As for the other instances of unmuted ads experienced with Spotify 0.9.x, the latest update might improve the situation somewhat.

[2016-01-03 15:57] Feltzer commented on #44
True, but I think we should take that as it comes. The three projects we link to are well maintained and working. We don't have to add any new project that comes along to the list, just keep an eye on these three as they follow three entirely different ad blocking methods (dbus-based, stdout-based, blocklist-based).

[2016-01-03 15:59] SecUpwN commented on #44
You're right. Feel invited to add other projects you think are worth being listed there.

Perfect, will do so. Issue clarified (at least in my head) for now. Thank you!

[2016-01-03 15:59] #44 closed

[2016-01-12 17:26] Feltzer commented on #26
Seeing how I have yet to run into an umuted ad with the latest release of the script, I will close this issue for now. If any of you guys experience this again please feel free to post here and I'll reopen the issue.

[2016-01-12 17:26] #26 closed

[2016-01-15 14:08] jaybourn opened #46 "Ad is not muted."
The first ad to play is not muted. Any consecutive ads are muted as expected.

Debug output of two ads.

[code]

Config

[code]

Spotify Version: 1.0.19.106.gb8a7150f

[2016-01-16 00:27] SecUpwN commented on #46
Thanks for filing this. What do you suggest us to do, @Feltzer?

[2016-02-08 18:00] JPKramer707 opened #48 "Spotify does not unpause after playing a local track in continuous mode"
Everything works fine until the end of my local MP3, after which there is silence, and I must press "play" in Spotify.

Spotify-AdKiller.cfg:
[code]

[2016-02-08 23:04] JPKramer707 commented on #48
.Spotify-AdKiller.log:
[code]

[2016-02-08 23:53] SecUpwN commented on #48
Thanks for filing this and adding an extensive logfile, @JPKramer707. I hope @Feltzer will take a look.

[2016-02-25 21:27] SecUpwN opened #49 "Automatically detect spotify-make"
Since I am one of the enthusiasts using [spotify-make](https://github.com/leamas/spotify-make) to install and run the latest version of `Spotify`, I would like to see `Spotify (AdKiller).desktop` automatically detect the installation of `spotify-make`, which moves its own launcher into `/bin/my-spotify`. In order to launch `my-spotify`, I always have to manually modify `Spotify (AdKiller).desktop`

[2016-03-03 13:24] kodzak opened #50 "Stopped working with new version of Spotify"
Adds aren't blocked. Changing name from "Spotify Free - Linux Preview" on "Spotify" in config file(spotify-adkiller.sh) nothing change. Adds still are played.

[2016-03-04 09:32] OlegSmelov commented on #50
Just tested Spotify 1.0.23.93 on Ubuntu 15.04 and it worked.

@kodzak Can you provide more information? Distro, exact Spotify version, logs, ...

[2016-03-05 10:06] kodzak commented on #50
I use elementary Os Freya it is based on Ubuntu 14.04. Spotify version 1.0.23.93.gd6cfae15.
Script mute adds only if i pause and play again. Not mute adds automatically. I download again this script and still this happened.

[2016-03-05 22:08] billpcs commented on #50
Can confirm the exact same behaviour on the exact same system.

System: elementary OS Freya x86_64
Spotify version 1.0.23.93.gd6cfae15

[2016-03-06 16:26] RaphaBarros commented on #50
Ubuntu 14.04 and I can confirm the same problem.

[2016-03-10 08:59] bacci85 commented on #50
Here is what happens to me:

[code]

Spotify opens automatically after spotify-wrapper.sh is called, but on the shell it seems it does not recognize that the program is executing...

[2016-03-10 15:40] rjd22 commented on #50
I have the same problem the problem I'm having is that spotify creates multiple audio sinks and plays in a different audio sink than the blocker blocks.

So ads keep playing while the blocker blocks the wrong audio sink. I changed the blocker to block both audio sinks and now it's working but nothing keeps spotify to open 3 sinks to work around this problem.

[2016-03-11 11:35] SecUpwN commented on #50
Sorry folks that you're having so many troubly with it currently. @Feltzer, can you digg into this, please?

[2016-03-12 13:32] mad73923 commented on #50
Seems like the new version doesn't publish the current title to the system media control. Every new title I get a desktop notification with the title, but the album cover and other info isn't shown in the systems media box anymore. Any fix for this?
Linux Mint 17.3
Spotify 1.0.24.104.g92a22684

[2016-03-14 12:07] Micr0Bit commented on #50
i can confirm this bug ... on
Debian GNU/Linux 8.3 (jessie)

the adkiller works sometimes ... but not always (since the new spotify version)

[2016-03-17 14:39] rjd22 commented on #50
I can confirm what @Micr0Bit  says. It stopped detecting ads correctly. Only after I pause and play again it is able to see that it's an ad running.

[2016-03-17 16:12] hcgrove opened #51 "Doesn't name missing dependencies"
When I try to run the install script, this is what happens:
grove@solitaire> ./install.sh
 not found
Please resolve these dependency errors before running the script

Manually checking the listed dependencies, revealed that I missed xdotool, and installing that brought me further.

[2016-03-18 03:07] GandalfD opened #52 "No longer detects ads"
The program does not detect when an ad is playing anymore. If I run it from terminal and an ad plays, I get the following:

Paused: Yes
Ad: Can't say
Local: No
Double Hashtag Paused by User Double Hashtag

(I put the double hashtags there because actually writing out the hashtags formats it into a header, I don't know how to cancel that ;P)

The ad will keep on playing at full volume.

[2016-03-18 03:12] GandalfD commented on #52
EDIT: If i pause the ad and play it again, the program will mute spotify and return that it detects an ad! This does not help in the long run however as I will have to pause it and then unpause it for it to work as intended.

[2016-03-18 16:52] hcgrove commented on #46
I experience the same, here is what was written to the log file (running in debug mode), when playing a regular track, and the two ads that spotify chose to play afterwards (yes two ads in a row):
[code]
It would seem the problem is the `PAUSED:   Yes`, I didn't pause anyhting.

Running spotify version 1.0.24.104.g92a2268 on debian Jessie (8.3).

[2016-03-18 16:59] hcgrove commented on #46
Reading the other issues this seems to be the same as in #50 and #52.

[2016-03-19 14:52] #52 closed

[2016-03-19 14:53] #50 closed

[2016-03-19 14:55] SecUpwN commented on #46
Thanks for linking the other Issues as `DUPLICATE`, @hcgrove. Sadly, I am currently not able to digg so deep into the script like @Feltzer and @OlegSmelov are able to. Hopeing to see them back again soon. In the meantime, please try to help me improving our script. Pull requests are gladly accepted!

[2016-03-19 19:12] Feltzer commented on #46
Sorry guys, I am very short on time right now. Another reason this has taken me some time to address is because I use Spotify 0.9.x on my main PC which has worked perfectly fine with the script for months now.

I put some time aside today and tried reproducing this on my notebook which runs Spotify 1.0.25.127.g58007b4c-22 on Ubuntu 14.04. No 'luck' so far. Everything seems to be working fine on my

[2016-03-19 19:28] Feltzer commented on #51
Thanks for reporting this!

I think I found the issue. I'll push a commit in a sec which should fix this.

[2016-03-19 19:29] #51 closed

[2016-03-19 19:29] SecUpwN commented on #51
Huge thanks, wonderful that you're our `COLLABORATOR`! :smile_cat:

[2016-03-19 19:35] Feltzer commented on #48
This seems to be related to #46. I think there might be something wrong with the pause detection. Please check out [my comment](https://github.com/SecUpwN/Spotify-AdKiller/issues/46#issuecomment-198771228) on the other issue to help us track this down.

I won't mark this as a duplicate, yet, as it might still turn out to be a different issue. We'll know more as soon as #46 is fixed.

P.S.: thanks

[2016-03-19 19:47] Feltzer commented on #49
tbh, I don't think that this should be handled by our scripts. It would be too much of a headache to maintain a list of possible binary names for spotify.

spotify-make also seems to offer a system-wide installation now which follows the regular binary naming convention (my understanding is that the local installation is renamed to my-spotify to allow for a parallel install of both a local version

[2016-03-19 19:55] SecUpwN commented on #49
What do you mean by maintaining a list of possible binary names for spotify?

Now? Too bad that @leamas does not seem to care to properly maintain his repo, last update was on June 29, 2015. Pull requests and superold Issues (stuff from **2013**) are still waiting in his queue.

@Feltzer, to which install instructions should I link to exyactly?

[2016-03-19 20:23] Feltzer commented on #49
Right now we would only have to account for my-spotify, but I am sure other projects use different naming conventions, which we would have to consider adding over time. With things like this it's usually up to upstream (the projects we depend on) to maintain compatibility with other projects.

Fortunately spotify-make does offer an installation routine that's compatible with our script (and every

[2016-03-20 14:02] SecUpwN commented on #49
Thanks. I'll add a note on our `README` to make sure users will use the correct install method.

Well, I cannot test that until https://github.com/leamas/spotify-make/issues/40 has been solved.

[2016-03-20 22:39] fooblon commented on #46
Hi @Feltzer and thanks for your time!
Here the output you asked, but not sure it'll be useful...
<code>
foo@foo-pc:~$ pacmd list-sink-inputs | grep -B 25 "application.process.binary = \"spotify\""
	driver: <protocol-native.c>
	flags: START_CORKED
	state: RUNNING
	sink: 2 <alsa_output.pci-0000_00_1b.0.analog-stereo>
	volume: 0: 100% 1: 100%
	        0: -0,00 dB 1: -0,00 dB
	        balance 0,00
	mu

[2016-03-21 13:12] hcgrove commented on #46
I don't know if it's different from fooblon's output in any interesting way, but here goes:
grove@solitaire> pacmd list-sink-inputs | grep -B 25 "application.process.binary = \"spotify\""
    index: 51
        driver: <protocol-native.c>
        flags: START_CORKED
        state: RUNNING
        sink: 1 <alsa_output.pci-0000_00_1b.0.analog-stereo>
        volume: front-left: 34733 /  53% / -16,54

[2016-03-21 20:14] Feltzer commented on #49
Yeah, I think we should just update the troubleshooting section.

[2016-03-21 20:18] Feltzer commented on #46
Thanks for posting these, guys. Sadly they look perfectly normal to me.

Just to confirm: You only experience this issue when an ad comes up after having manually skipped a track? Everything works fine when ads come on during uninterrupted playback?

[2016-03-21 20:28] SecUpwN commented on #49
Will do so tonight and update our `CHANGELOG.md` as well. Stay tuned. Thanks for helkping to improve our script, @Feltzer, even when you are short on time. Hope you also starred and use [AIMSICD](https://github.com/CellularPrivacy/Android-IMSI-Catcher-Detector/). :smile_cat:

[2016-03-23 02:31] GandalfD commented on #46
I am having this same problem ever since spotify updated a couple of weeks ago.
Also as a sidenote, the Spotify ad-blocker I use for windows has stopped working from the recent update as well. It seems as if everyone is having [trouble](http://puu.sh/nQwQS/168be63476.png) with the windows ad-blocker while in our case, it may be just a bug.

[Here](https://www.ericzhang.me/projects/spotify-ad-block

[2016-03-23 11:12] fooblon commented on #46
@Feltzer sadly no. I personally experience issues at each new ad.
But in facts there are two distinct bugs, the twos depending on the ad detector which seems to be (a bit) crazy.

1) Sometimes songs are muted because the AdKiller thinks it's an ad but it's not :
[code]
and then after that, some songs are muted and others are not. Randomly.

2) When an ad comes while it's in normal mode (i.e. I can

[2016-03-23 16:05] rjd22 commented on #46
@Feltzer @SecUpwN

Spotify seems to change the state to CORKED for a second when an ad starts and moments later change it to RUNNING.

[code]

[2016-03-23 16:42] hcgrove commented on #46
Hmm, good question. My feeling was that I experienced this when doing absolutly nothing (related to spotify or the adkiller), but I do occasionally restart (through DBus, using a script I found somewhere calling the Previous method) tracks, and haven't really considered whether that affected it, but yesterday I also experienced that sometimes all ads were muted. Below are some conclusions from two

[2016-03-23 22:25] SecUpwN commented on #46
Just found the wonderful [openSUSE Spotify Installer](https://github.com/aspiers/opensuse-spotify-installer) and hope @aspiers can help us a bit here.

[2016-03-24 09:40] Feltzer commented on #46
Thanks for the insights, guys. I am still having trouble reproducing the bug on my end, but I will keep trying. At this point I have to wonder if I'm just lucky or if there's something different about my setup that keeps the script working fine.

@rjd22, thanks for these logs. They've been very helpful! I am now convinced that the pause detection is at fault. I'll see if I can investigate further

[2016-03-24 13:09] rjd22 commented on #46
@Feltzer It seems that the script checks a little bit too soon if the stream is paused. A second later it tells me it's running.

[2016-03-24 14:43] gelderwe commented on #46
I also have encountered that the first of 2 ads is not muted.

Spotify version: 1.0.24.104.g92a22684
AdKiller version: master (commit 7e1a7337ae74444504125ae4d880cbc60710e984)
Operating system: Ubuntu 14.04 LTS
Kernel: 3.16.0-67-generic

[2016-03-24 15:18] Feltzer commented on #46
Alright guys, I've pushed a commit to the repo which will hopefully fix most of these issues (26c28e00961d0647556e3cc6a8bafdbd69d02dbb). What this commit does is introduce a small delay when a paused track is detected, as suggested by @rjd22 (thanks!). This is to make sure that Spotify is actually paused and not just going through a temporary status change. The downside to this is that - under som

[2016-03-24 19:00] Feltzer commented on #46
Sorry, guys: looks like the script is still having some issues, even after these latest changes. As I am very short on time right now I won't be able to keep on debugging this. So if you are experiencing these issues  it might be best to either consider downgrading to Spotify 0.9x (if possible on your platform) or using one of the other adblocking projects [listed in our README](https://github.com

[2016-04-03 17:37] datamaan opened #56 "VLC no longer supports "--volume" option"
When manually issuing the cvlc command in
I get `Warning: option --volume no longer exists.`

I can't find out when and why they removed it, but as it stands the option is simply ignored which leads to vlc using the volume it had on last close.

I think it should be possible to adjust the volume via pacmd in the same way that you contol the spotify sink.

[2016-04-03 17:41] SecUpwN commented on #56
@videolan, we'd appreciate if you could give us a clue on this. Thank you!

[2016-04-03 18:46] datamaan opened #57 "Song falsely detected as Ad"
This song: https://open.spotify.com/track/061joO5eUg78KlNJIkMt0o
is falsely detected as Ad because it produces the following values which are not equal:

XPROP_DEBUG: Céline Dion - My Heart Will Go On - Love Theme from \"Titanic\"
DBUS_DEBUG:  Céline Dion - My Heart Will Go On - Love Theme from "Titanic"

[2016-04-03 19:15] datamaan commented on #56
Just asked on the videolan IRC.
Answer: "[...] volume is set by pulseaudio, not by VLC"

So it seems to be pacmd for this one.

[2016-04-03 19:18] SecUpwN commented on #56
Please rename this Issue accordingly and if possible @mention a person able to digg into this. Thanks.

[2016-04-03 20:27] datamaan commented on #56
The issue name is correct. I don't see a need to change it.

Why should I mention anybody? I'm no member of this project. This is a bugreport. Everyone is free to look into it and send you pull requests etc.

[2016-04-06 07:58] plandevida opened #59 "VLC opens with random files/images"
On Ubuntu 15.10, Spotify (1:1.0.25.127.g58007b4c-22) and latests Spotify-AdKiller.

Several times vlc opens with an image or file, some times windowed some times in full screen. And ads are not muted.

Attached image of VLC in full screen.
![vlcsnap-2016-04-06-09h50m13s640](https://cloud.githubusercontent.com/assets/1167738/14309646/1abe54e8-fbde-11e5-8839-ab9cc49b01a0.png)
.
![sin nombre](https:/

[2016-04-06 18:47] SecUpwN commented on #59
@plandevida, I don't see the relation to our script. Shouldn't you file this Issue in the [VLC repository](https://github.com/videolan/vlc)?

[2016-04-07 11:13] plandevida commented on #59
@SecUpwN: No, I didn't. Because it's weird, this 'issue' beigns with latest Spotify AdKiller and only when I run it.

[2016-04-07 14:33] plandevida commented on #59
I have tested _Spotify_ for a while and after _Spotify AdKiller_, in this session _VLC_ didn't open. Sure you @SecUpwN are right and we should forget this issue because is not relevant

[2016-04-20 15:01] plandevida commented on #59
Some times still happening

[2016-04-27 19:59] nik0lai commented on #59
[ubuntu 15.10] I have the same problem, when an ad appears on spotify a VLC window with a video, or image, reproduce. Also, the ads are not muted.
When Custom_Mode set to simple the problem with VLC disappears but the ads remains unmuted.

[2016-04-28 15:52] nik0lai commented on #59
It seems to solve when setting CUSTOM_MODE="simple", and erasing the backup file (Spotify-AdKiller.cfg~) that appears when Spotify-AdKiller.cfg is modified.
With this the vlc problems disappears and the ads are muted.

[2016-04-28 16:58] SecUpwN commented on #59
@nik0lai, since #54 our default mode is `continuous`. Would you please test if erasing the backup file `Spotify-AdKiller.cfg~` works with that as well? If it does, adding some removal mechanism should solve this.

[2016-04-28 17:05] SecUpwN commented on #46
@mikar, would you please have a look at our script and see if you can fix this? Vielen lieben Dank! ;-)

[2016-04-28 17:54] mikar commented on #46
I just looked into it and failed to reproduce this issue. I did fix an issue of spotify-adkiller not finding mp3 files in my LOCAL_MUSIC folder and submitted a pull request.

I did, however, find these issues:
1: even though the ad is found on the first attempt, spotify is then muted via spotify PlayPause so that the script can no longer determine if an ad is playing
2: exiting the script via ctrl

[2016-04-28 19:23] nik0lai commented on #59
@SecUpwN, I tried and the ads were muted but vlc still reproduce some random video or image.

[2016-04-30 20:26] SecUpwN commented on #57
@datamaan, you Issue should be fixed now thanks to the great help of @mikar. Please test if it works.

[2016-04-30 20:26] #57 closed

[2016-04-30 20:35] SecUpwN commented on #59
@nik0lai, I've just merged a few fixes created by @mikar. Please test your Issue again. Thanks.

[2016-05-10 01:08] shivamkalra opened #64 "Most Indian songs are marked as ads"
I'm not exactly sure, how are you detecting ads from regular songs.

However, most Indian songs are marked as ads and mute my pulse audio channel.

I can help to fix the issue, if you can help me where to begin.

[2016-05-10 09:09] SecUpwN commented on #64
Good morning @shivamkalra. Please add a logfile to this Issue using these instructions:

[2016-05-10 10:05] shivamkalra commented on #64
I tried `DEBUG=1 spotify-wrapper.sh` but it did not go in debug mode. However, I just removed if statements to make it always debug. I'm attaching log file.

[log.txt](https://github.com/SecUpwN/Spotify-AdKiller/files/256903/log.txt)

[2016-05-10 14:25] nik0lai commented on #59
@SecUpwN, excuse me but I'm new to github, should I reinstall following the Installation steps to get the fixes?

[2016-05-13 17:28] tiagorinaldi opened #65 "dns-block not working anymore"
I've been using the `dns-block` branch for a long time and today Ads are rolling back and forth :(

I understand the stand on that, but is there a way to see some progress?

[2016-05-14 21:04] trinaldi commented on #65
The new PR fixed this issue.

[2016-05-14 21:05] #65 closed

[2016-05-21 01:04] SecUpwN commented on #59
@nik0lai, yes, please get a fresh copy of our repository and install it on a fresh base.

[2016-05-24 09:15] plandevida commented on #59
I did a pull and ./install.sh, the VLC still starting...
It is enough to consider a "fresh copy" or I need to delete all files and config files?

[2016-05-25 09:14] SecUpwN commented on #59
@plandevida, in order to do a clean test, please remove all old files first. Thank you.

[2016-05-27 10:27] plandevida commented on #59
I started from a fresh copy on fresh system installation (another distro ArchLinux) and still happens.

[2016-06-01 10:31] jdsutton opened #67 "Ads no longer muted"
Recent install, Ubuntu 16.04, latest version of Spotify.

This issue was also present when I was running Ubuntu 14.

[2016-06-03 09:44] Micr0Bit commented on #67
confirmed on Debian GNU/Linux 8 (jessie) 32-Bit

@mikar : do you think #63 will fix this ?

no matter what im doing , if i hit the pause-button during the ad ... the ad will still run ... so it now doesnt work at all

[2016-06-03 13:48] jdsutton commented on #67
Some ads do seem to be blocked now. Although after the ad I have to manually press play again to get the music to resume.

[2016-06-03 14:18] mikar commented on #67
@Micr0Bit
I think so, give it a try and report back.

[2016-06-04 18:57] Micr0Bit commented on #67
@mikar : not exactly sure where i find the branch with your fix ...

[2016-06-04 18:58] mikar commented on #67
@Micr0Bit
https://github.com/mikar/Spotify-AdKiller

[2016-06-04 19:01] Micr0Bit commented on #67
@mikar
thx , ill give a feedback when i notice something

[2016-06-08 00:10] mamen2022 commented on #67
I am running Ubuntu 16.04, with the latest version of Spotify.
I get an Error everytime Spotify starts:
`ERROR: No music found in the specified location. Please check the settings. Switching to simple automute (no local playback).`

Is anything related with this thread?
Thank you

[2016-06-28 12:50] cpappen commented on #59
Well, after installed spotify-adkiller and listened to one album on spotify, a vlc window opened with a short video with images of my work and i work on a virtualbox machine. That scared the hell out of me!

[2016-07-01 09:15] marcomarcianesi opened #69 "Ads are paused"
Ubuntu 16.04, last version of spotify.

The ad is paused after some seconds of playback. Pressing play lets the ad proceed some seconds, then it stops again. After repeating this operation 5/6 times the ad reaches the end end AdKiller works as expected

[2016-07-03 06:46] igniting opened #70 "Provide uninstall script"
Provide a script to remove Spotify-AdKiller or give detailed instructions in README.

[2016-07-07 09:04] #69 closed

[2016-07-11 11:37] zppinto commented on #70
To uninstall just execute this command:
`rm -Rf ~/.installer-spotify-ad-killer ; sudo rm -Rf  /usr/local/bin/dns-block ; sudo rm -f /usr/local/bin/spotify-wrapper.sh ; sudo rm -f /usr/local/bin/spotify-adkiller.sh ; rm -f ~/.local/share/applications/Spotify\ \(AdKiller\).desktop
`

[2016-08-17 17:42] Wizardlysense opened #71 "Vlc gets launched."
Once audio appears, Vlc starts playing recent video or movie.

[2016-08-31 06:21] pandeyp opened #73 "Ad not muted."
I am using Spotify-Adkiller on Ubuntu 16.04 LTS and Spotify Desktop version 1.0.28.89.gf959d4ce. The ads have not been muting lately. Please help.

Thanks,

[2016-08-31 09:21] #73 closed

[2016-09-19 02:42] dspjm commented on #71
It plays my local file once spotify starts and I have to kill vlc in the background(vlc didn't appear). Then I can play the sons from spotify as usual.

[2016-09-23 15:09] kupiqu commented on #46
#63 does not fix it for me.

I could fix it with the following modification in spotify-adkiller.sh (using spotify-client 1.0.38.171):

[code]

This fix works nicely in my system, but note that I'm not very familiar with the code, so there is probably a better way to fix this, I'm not aware of. Perhaps this workaround orient you guys in the right direction...

[2016-10-03 08:21] frcake commented on #71
VLC Gets spawned periodically after 4-5 ad mutes ..

[2016-10-31 10:25] xxqxpxx commented on #71
i confirm , same happened with me

[2016-11-01 15:00] OlegSmelov commented on #64
@shivamkalra I have a fix in a feature branch that might fix this problem: https://github.com/SecUpwN/Spotify-AdKiller/tree/switch-detection-method

Let me know if it works!

[2016-11-10 21:11] OlegSmelov commented on #64
Pretty sure this should now be fixed.

[2016-11-10 21:11] #64 closed

[2016-11-10 22:06] #70 closed

[2016-11-14 16:48] Apttypn commented on #71
Yes same issue on Linux, i compiled this to windows and i have no ads and no problems either :)

[2016-11-14 16:50] Apttypn opened #82 "For Microsoft Windows"
i added some files from this repository and i was able to make it work even BETTER on windows. i hope you can add it here aswell!

[2016-11-14 17:11] OlegSmelov commented on #82
@Apttypn Can you explain what exactly you did? I won't hide that I'm very skeptical about this working on anything other that Linux. 😄

[2016-11-15 10:00] Apttypn commented on #82
@OlegSmelov I used the Adkiller.cfg and the adkiller.sh and deleted ad.spa from Spotify/apps folder and i have had no ads

[2016-11-15 10:01] Apttypn commented on #82
i renamed the *.sh to *.cfg and it works like a charm :)

[2016-11-15 10:37] OlegSmelov commented on #82
This might have been it. But adding files into Spotify directory should have had no effect whatsoever.

I don't think `Spotify-AdKiller` is even running on your machine.

[2016-11-15 10:37] #82 closed

[2016-11-19 13:08] dspjm commented on #71
@Apttypn another reason for me to switch to windows now T_T @

[2016-12-27 15:53] MageJohn opened #83 "dns-block is blocking playlist covers."
Hey!

I've been using the dns-block branch for a little while. I noticed that playlist covers were getting blocked, even custom ones I'd set myself. A quick look at various terminal outputs seemed to indicate that blocking u.scdn.co was the culprit. I whitelisted that in dns-block.c and recompiled, and the issue seems to be fixed. I'll report back if unwanted things are now unblocked. Should this

[2016-12-27 16:24] OlegSmelov commented on #83
Use it for a day or two, and if you see no problems with ads, please create a pull request. Thanks!

[2016-12-30 18:41] MageJohn commented on #83
Okay, I've been using it with no problems for a few days now. Will make a pull request now. :-)

[2017-01-01 18:27] OlegSmelov commented on #83
Merged.

[2017-01-01 18:27] #83 closed

[2017-01-02 00:27] apiraino opened #85 "Save files from stream"
Hi all,

I'm preparing a small patch to use `arecord` to save audio files. Are you interested in that?

In case you do, I'd like to patch master with the `dns-block` branch already merged in. Is it possibile?

Thank you!

Cheers

[2017-01-02 10:52] OlegSmelov commented on #85
I think this functionality belongs to a separate project. You are welcome to fork `Spotify-AdKiller` and reuse as much code as possible.

[2017-01-02 10:52] #85 closed

[2017-01-10 15:34] TWNateLo commented on #71
My vlc will launch and show random pictures...
The title of player shows "hardware YUV support"

[2017-01-15 22:59] apiraino opened #87 "(branch: dns_block) Bad UTF-8 encoding in X variables leads to songs not correctly recognized"
Hello,

I think I've discovered a subtle bug in the `get_state` logic introduced in commit 999ce64b5a4a8fe3a509a58128ebc2c36c5d2a27
Not sure if this a bug of the `get_state` function or in the meanwhile X have changed things.

The issue is twofold:

- the X window attribute `WM_NAME` is of type  `STRING` instead of  `UTF8_STRING`; in case of a song with non ASCII chars the string is broken, ex. `"

[2017-01-16 09:15] OlegSmelov commented on #87
The blocking script is unmaintained in the `dns_block` branch, use the one in `master`. It seems to have the exact same fix already applied.

Only the `experimental` folder is maintained in that branch.

[2017-01-16 09:15] #87 closed

[2017-01-25 18:09] gCurse opened #89 "DEBUG="1" does not write to "$HOME/.Spotify-AdKiller.log". Intentional or a bug?"
DEBUG="1" does not write to "$HOME/.Spotify-AdKiller.log" as promised in "$HOME/.config/Spotify-AdKiller.log".
Sorry, it works.

[2017-01-26 11:30] #89 closed

[2017-02-16 21:08] mikeframpo opened #91 "Possible to start as a systemd service?"
I created a simple systemd service. But I get errors, see below.

I understand that it's not a good idea to run an Xorg program as a system-level task. So my question is: it is possible to run Spotify-AdKiller headless as a system-level thing?

Thanks,
--Mike

[code]

[2017-02-16 21:24] mikeframpo commented on #91
I didn't realise that the program is intended to start spotify using a desktop icon. I think this issue can be closed.

I just like systemd services because they easily allow you to see the program's console output.

[2017-02-16 21:42] OlegSmelov commented on #91
The script depends on Xorg too much to be run this early. 😄

But yeah, if you start it using the desktop icon, the script runs in background until you close Spotify.

[2017-02-16 21:42] #91 closed

[2017-02-22 20:40] samestep opened #92 "Spotify remains muted"
A couple days ago, I booted up my laptop and found that Spotify no longer plays sound. I don't know for sure that this is caused by `Spotify-AdKiller`, but I suspect that it is. I have tried rebooting, reinstalling Spotify (`sudo apt remove --purge spotify-client`), deleting `~/.cache/spotify` and `~/.config/spotify`, all to no avail. I tried uninstalling `Spotify-AdKiller`, which didn't work, the

[2017-03-10 04:29] HamzaM opened #93 "Reduce on startup"
Hello, I've been able to launch the spotify (adkiller) on startup but I'm wondering if there is a way to start it and minimize it automatically.

Thanks already guys

[2017-05-03 00:08] fassn opened #94 "Ads are just not muted"
Hello, I've been using this project for some time, but actually it has never worked...

Any suggestions? I live in France, could there be some explanations due to the location I am using Spotify?

[2017-05-09 01:29] skannerdarkly commented on #94
Same thing here in the US....

[2017-05-09 02:31] polyzen commented on #94
Can't say for sure, but I believe this has worked on its own. Toggling play/pause will engage the mute for some ads; other times it will only work halfway into an ad.

Blockify doesn't seem to have this issue, but I get a different, fun issue. Starting a new queue can cause it to mute, despite there being no ad. Toggling play/pause sometimes fixes this, or I need to manually unmute Spotify.

[2017-05-23 01:46] metalshreds commented on #71
Me too, random pictures are shown on VLC after a few ad mutes and at times it will cause my CPU to spike to 100% until I kill vlc.

[2017-05-29 01:16] Axeso commented on #94
Yeah is not working for me either :(

[2017-06-23 09:32] ofek-a commented on #94
**EDIT:**
This no longer works, use updated solutions below.
----

This whole thing just isn't working, I found a much simpler solution though.

Simply paste this into your hosts file:
[code]

And no more ads.

----
**EDIT:**
This no longer works, use updated solutions below.

[2017-06-23 20:58] polyzen commented on #94
Having 100% success while using `spotify-wrapper.sh` with `interstitial` mode.

[2017-07-02 16:39] Micr0Bit commented on #94
thx @OfekA

[2017-09-23 14:15] GijsTimmers opened #100 "Last seconds of ad coming through"
Similar to https://github.com/serialoverflow/blockify/issues/125.

I think it's just the last second of the ad that doesn't get muted properly.

[2017-10-04 03:13] mfdogalindo opened #101 "High CPU Usage"
vlc process shows high cpu usage

[2017-10-16 16:59] phil294 commented on #100
I can confirm this issue. "Fixed" it locally by prepending `sleep 1` into the `unmute` function.

[2017-10-18 02:18] Xenphor commented on #100
I have this issue too but it only happens one some ads.

[2017-10-20 19:05] str commented on #100
+1

[2017-10-30 18:23] AreYouLoco opened #102 "[DEBIAN] Background music keeps on playing"
i am Using Debian Stable Stretch and Spotify 1.0.64.407.g9bd02c2d.
I have installed all dependencies.

It seems like the ad is muted properly and the local music is playing instead but during the ad and after ad finishes the background music keeps playing. no vlc interface tho. I have to kill it manually with killall vlc.

[2017-11-20 18:49] targetcreature commented on #102
I'm also having this experience.

Ubuntu 17.10, Spotify 1.0.64.407.g9bd02c2d

[2018-02-25 14:44] VietTralala commented on #101
+1
Also vlc keeps running, after I close Spotify-AdKiller

[2018-03-06 19:05] githubuser441 commented on #67
Same issue here

[2018-03-19 20:17] manbharae opened #104 "are there any inherent security risks posed by using this?"

[2018-04-13 20:20] Dmole commented on #56
It is now;
[code]

unlike the following that don't influence the VLC pre-amp;
[code]

[2018-04-24 23:17] ghost commented on #101
I have very high CPU usage from this as well, it appears to be the process `find`. I think this is the cause of spotify skipping too.

[2018-06-28 00:40] TH3P01S0N commented on #101
I have a cpu and memory monitor and I can see a high value, like 100%. If I close Spotify AdKiller the value of monitor is nearby to 0. I have intel core i5 and RAM 8gb.

How can I fix this?

[2018-07-04 01:54] diegoberrios commented on #101
I fixed by setting simple mode.  I had the continuous mode, so vlc player was stuck in a loop of play and pause, and that was the high value of CPU. You can verify this when the ad moment begin, and tipe  TOP in the terminal.

[2018-07-30 20:30] Nanco300 opened #105 "Flatpak and snap support"
There are way of to run Adkiller with snap or flatpak packages?

[2018-08-09 18:07] lysobrody22 opened #106 "Broken spotify permamently"
Ubuntu 18.04, spotify 1.0.80.474.gef6b503e
Spotify skips all songs in playlists and says "This song is not avaliable. If you have the file on your computer you can import it" when trying to play specific one.
Uinstalling AdKiller / reinstalling spotidy / deleting caches / googling for a couple of hours didn't seem to help

[2018-08-09 20:25] #106 closed, assigned to nobody

[2018-09-19 13:44] CHEF-KOCH commented on #94
The only working solution on the entire internet is my solution:

https://github.com/CHEF-KOCH/CKs-FilterList/tree/master/Corporations/Spotify%20Ad-Free

Proof with my test account, no black bar at the bottom, no ads on the left side panel and no audio muting.

![fefffffffffffff](https://user-images.githubusercontent.com/727123/45756999-a2bceb00-bc22-11e8-91a4-d0d8be82058d.gif)

Also make sure tha

[2018-09-30 10:03] MageJohn opened #107 "dns-block branch now broken"
The dns-block branch now completely breaks recent versions of Spotify. Lots of pages are now blank, and music playing is broken. I don't know if there is still interest in making it work, but when I get some time I'll experiment with the blacklists.

[2018-10-19 13:40] str commented on #105
I've just tested AdKiller with Spotify installed from snap and AdKiller didn't work.

Snap verison: 1.0.89.313
apt version: 1.0.80.480

[2018-10-30 20:05] phramos07 commented on #67
Same issue here. It's random though, some ads are muted and some are not. Everytime I open the adkiller, a pop up message occurs:

 `ERROR: No music found in the specified location. Please check the settings. Switching to simple automute (no local playback)`

Also, sometimes, after the ad is finished, the player doesn't resume. I need to go to the app (spotify) and play it manually. When I do that

[2018-12-04 11:08] omega3 commented on #94
@CHEF-KOCH

Can you please write how-to use your lists for desktop Linux client installed from AUR (I am on Manjaro)?
I don't know what to do with those files.

[2018-12-04 12:37] polyzen commented on #94
I've been using `simple` (mute-only) mode. Once in a while an ad won't mute, in which case I toggle play/pause (perhaps more than once) and it will mute. Once the next song starts playing, toggling play/pause should unmute the song.

[2018-12-04 12:47] polyzen commented on #94
Hm, I didn't want to touch my `/etc/hosts`, but I've been running Spotify through [Firejail](https://firejail.wordpress.com/) and just remembered it has a `--hosts-file` option..

[2018-12-04 15:00] omega3 commented on #94
It doesn't work for me. I installed on Manjaro. I have two files in /home/user/bin
spotify-adkiller.sh
spotify-wrapper.sh

Do I need to edit them?

When I click on spotify-adkiller icon in menu it shows" Can't find spotify-wrapper"
So I run it from terminal, but still ads are present.

[2018-12-04 15:54] polyzen commented on #94
pacman doesn't touch `$HOME`, and as such, those files aren't from the AUR package.

`git pull` to the latest commit of the AUR package and `makepkg -isrf`.

[2018-12-04 20:01] polyzen commented on #94
Oh, I misread; was talking about the [`spotify-adkiller-git`](https://aur.archlinux.org/packages/spotify-adkiller-git/) AUR package. Also, you might want to try [`spotify-stable`](https://aur.archlinux.org/packages/spotify-stable/), also in the AUR.

[2018-12-05 09:15] omega3 opened #108 "content removed by author"
content removed by author

[2018-12-13 10:42] #108 closed, assigned to nobody

[2018-12-22 15:37] Wargof commented on #71
I have the same problem also under Ubuntu 18.04, it seems to me that it didn't do it under Ubuntu 16.04.

I'll try to uninstall VLC to see if it prevents these damn windows from opening.

[2019-01-11 18:58] gsrafael01 commented on #94
@CHEF-KOCH Cheers! I still get the ad box at the bottom, but it's black, so I assume that means that the list is working. I'll listen for a while to see.

[2019-03-14 11:31] omega3 commented on #100
Can you give instruction how to do it? What file to edit and what line exactly?

[2019-04-04 18:05] webmasterMeyers opened #109 "how about quit and relaunch"
I currently just quit spotify as soon as an ad starts and re-open it.  It takes less then 5 seconds and I only hear a second of the ad. Better then waiting up to a minute for an ad to finish.

would it be possible for this script to, upon "hearing" the ad, close spotify, launch spotify, and press play?

[2019-04-11 19:38] belohnung opened #110 "Minecraft Sounds"
Why the fuck is it playing Minecraft sounds when its muting the ads

[2019-04-17 14:42] webmasterMeyers commented on #109
manually, on Ubuntu 18.10 I have aliased the following command,so  in terminal I can run `spot` and it will close, reopen, minimise, and start play of spotify.  less then 4 seconds.  This could be made way better in a bash script I am sure, but here is the idea.

[code]

[2019-04-17 19:14] webmasterMeyers commented on #109
See PR #111

[2019-04-18 17:00] #109 closed, assigned to nobody

[2019-04-18 17:01] webmasterMeyers commented on #110
hahaha is all I can say about that.  RTFM

[2019-04-18 17:06] webmasterMeyers commented on #105
I am running Ubuntu, Spotify installed via Snap.  It is working fine for me.

- snap    2.38+18.10
- snapd   2.38+18.10
- series  16
- ubuntu  18.10
- kernel  4.18.0-17-generic
- Spotify version 1.1.0.237.g378f6f25

Did you install via the install.sh?  I did not.  I have a copy (a symlink actually) of `spotify-wrapper.sh` & `spotify-adkiller.sh` in `~/.local/bin/` and put `Spotify (AdKiller).deskt

[2019-04-18 17:13] webmasterMeyers commented on #93
See my PR #111, could be possible to allow minimize in any "mode", currently it works on "restart"

It dose "flash" open for a second.  I was hoping there might be a better way of accomplishing this, but I don't know.

[2019-04-20 17:51] transfluxus commented on #101
not sure if its vlc. I think it spawns a process to find all mp3s in the home folder.

[2019-04-20 17:54] transfluxus commented on #101
spotify-adkiller.sh line 109

[code]

[2019-04-22 20:50] str commented on #105
I'm running it from the clonned project:

[code]

Spotify does load, but the blocker keeps showing that message, and it does not mute anything

[2019-04-22 20:52] str commented on #105
... nevermind, I was missing a dependency.

[2019-04-22 22:21] str commented on #105
Now I'm not sure if it's a snap issue or what, but now adds are not being muted :@

[2019-04-26 18:05] mcrowson commented on #110
Modify your config file to put it in "simple" mode. I'm not sure why playing local files makes sense during the short ads, poor default selection IMO.

[2019-05-11 11:18] haveatry1234 opened #112 "not working with smartphone"
Spotify connect feature not working.
Cannot use spotify to choose music on android and play on the laptop.
Tested on ubuntu 18.10 and Spotify – Music and Podcasts v8.5.3.716 Final Premium MOD.

spotify adkiller says "spotify can't play this right now. If you have the file on your computer you can import it"

[2019-05-11 11:45] haveatry1234 commented on #112
Problem solved: open Ubuntu software center, move to spotify, go to permissions menu and be sure that "playing and recording sounds" is in :pulseaudio mode

[2019-05-11 11:45] #112 closed, assigned to nobody

[2019-05-12 10:24] haveatry1234 commented on #59
happen the same on ubuntu 18.10 and 19.04.
ONLY straight after a muted ad, vlc opens in full screen with the last file opened with vlc.

[2019-06-09 22:13] #102 closed, assigned to nobody

[2019-07-04 11:14] phil294 commented on #100
@omega3

Here: https://github.com/SecUpwN/Spotify-AdKiller/blob/0be950365a2aec7ea25d73e1369e8ea2b750a8d6/spotify-adkiller.sh#L265

add the sleep. It's been a while and I am not using this anymore, but the script edited by me back then has a sleep of 2.2 seconds. Dont know why 2 instead of 1 but adjust like you want

[code]

[2019-07-18 12:18] Kabur opened #115 "'simple' mode doesn't unmute at the end of ads"
Using spotify version 1.1.5.153.gf614956d on ubuntu 18.04.02 LTS. Continuous mode works as intended though. On 'simple', when the ad gets played, spotify mutes, but it looks like the ad gets skipped because I just see my song's progress bar - I can move it, skip to next song, or just wait, but it never unmutes until I restart(and sometimes even persists through restarts).

[2019-08-04 22:57] SnowAxe opened #116 "AdKiller didnt work anymore ?"
Hello,

10 days ago i have reinstall my Kali Linux to make a dual boot with Windows 10.
Today i tried AdKiller because im bored of YouTube, i used these command

sudo apt-get install x11-utils pulseaudio-utils libnotify-bin xdotool vlc
cd /Documents
git clone https://github.com/SecUpwN/Spotify-AdKiller.git
cd Spotify-AdKiller
chmod +x ./install.sh
./install.sh

Then i have install Spotify i don't

[2019-12-17 13:00] fassn commented on #116
Important thing I just figured out: don't install Spotify using snap if that is the case. I'm on Ubuntu, and realized this tool isn't working with a Spotify installed from snap. I had to uninstall it, and reinstall through apt in my case.

[2020-02-08 13:07] reinaldoivan777 opened #120 "Podcasts detected as Ads"
Hello,

I found a problem when playing podcasts, the adkiller will detect it as ads.

[2020-02-26 23:30] Suburbanno commented on #120
@reinaldoivan777 by default it blocks podcasts, but you can play podcasts you want to listen to, take a url from it in the script log and add it to the whitelist.js file
https://github.com/fuwwy/spotify-adblock-windows

[2020-05-01 02:55] #110 closed, assigned to nobody

[2020-05-04 11:17] nhmanas commented on #67
`ERROR: No music found in the specified location. Please check the settings. Switching to simple automute (no local playback).`

issue still remains. Ubuntu 20.04
I did not experienced this on Manjaro

[2020-05-15 09:34] dimgarof commented on #67
ERROR: No music found in the specified location. Please check the settings. Switching to simple automute (no local playback).

MATE 1.20.1
Ubuntu 18.04.4

[2020-06-02 06:48] ErikMN commented on #71
It seems like this problem still persist on Ubuntu 20.04

[2020-09-09 10:44] Anirudh171202 opened #123 "Runs in background even after closing"
If i alt+f4 the app, the wrapper still runs in the background and only stops when i kill the task.
Any clue about how to fix this?

[2020-09-14 18:45] darkRaspberry commented on #123
I don't think this repo is maintained.
owner is offline since ages

[2020-10-04 15:01] 121yaseen commented on #120
How to do the same in ubuntu?

[2020-10-04 15:14] Suburbanno commented on #120
Use this, it works the same way as in Windows, if any podcast doesn't work, take the url in the log and add it to the whitelist.

https://github.com/abba23/spotify-adblock-linux

[2020-11-20 13:18] zefir-git opened #124 "Mutes ads, does not remove them (and now it's actually muted everything)"
It mutes the ads (not using the Spotify controls) instead of skipping them. Banners, etc. are still visible.

If you close the app while a muted ad is playing, everything remains muted, all songs! Any info on how to fix that would be highly appreciated!

[2020-11-20 13:19] zefir-git commented on #124
Killing the adkiller process got my songs unmuted.

[2020-12-27 16:14] blkksheepp commented on #67
I'm facing this on Manjaro XFCE

[2020-12-29 10:19] apes0 commented on #67
doesnt
[code]
just mean that your music directory is empty, i get the error if i dont have any music in there, but when i add music, it stops appearing and the music is played over ads, instead of just muting spotify

[2021-01-08 11:25] dimgarof commented on #67
For anyone interested I switched to: https://github.com/abba23/spotify-adblock-linux
seems it is updated more frequently

[2021-03-04 19:36] keyan commented on #59
Happening for me on a fresh Ubuntu 20.04 install. Started immediately after installing/using Spotify-adkiller. VLC will open a random file a few times a day. Definitely surprising at first :)

[2021-03-24 15:10] crazyreverser opened #125 "Error: No music found in the specified location"
Hello
Firstly I install spotify-client then did manual installation. When I start Spotify (Adkiller) I'm getting this error and vlc opening with random media.
![image](https://user-images.githubusercontent.com/39971647/112333512-b81ba000-8ccb-11eb-9150-77e15524cfc4.png)

Edit:addkiller script also gives the same error
[code]

[2021-05-06 22:04] RJVB commented on #94
I think that list contains a number of sites that are probably not necessary (most if not all of the google sites) but either way, ads are still coming through for me :-/

[2021-05-07 04:05] Niru2169 opened #126 "Repeat stays on if it was manually turned on by the user"
I turned on Repeat in VLC  while watching a video, then I closed it, and when an ad comes up, repeat stays on.
I also turned off repeat using the Plasma media applet, but it still stays on when the next ad comes up. For this, I had to quit Spotify session, open VLC, turn off repeat, then open Spotify Adkiller session again.

[2021-05-07 04:07] Niru2169 commented on #116
Yes. And apart from that, you mustn't start spotify from command line
Launch the Spotify (Adkiller).desktop
The .desktop file executes spotifywrapper.sh

[2021-05-07 04:08] Niru2169 commented on #116
Also, lock Spotify and prevent it from updating.
That might help too

[2021-05-07 10:41] RJVB commented on #94
Well, that wasn't too hard to repair; the overly simple logic to determine the actual Spotify window no longer worked.

I've made a few other tweaks, including renaming everything to avoid the terms "killer" and killing. "Killing the sound" *is* an alternative to muting the sound but "killing ads" implies more than just muting their sound.

https://github.com/RJVB/Spotify-AdMuter

[2021-05-07 18:21] apes0 commented on #116
huh, seems to work fine here!

[2021-06-12 10:34] Nishant-Pall opened #127 "No entry in menu"
I installed using install.sh, and it created 'Spotify (AdKiller).desktop' file in .local/share/applications. Thing is I don't see any entries in the menu, how should I proceed next?

[2021-09-06 15:47] AnkushSinghGandhi commented on #116
do i need to install adkiller again after installing spotify through apt

[2021-09-08 13:22] AnkushSinghGandhi commented on #127
i am having the same issue

[2021-09-08 13:23] AnkushSinghGandhi commented on #127
but in my case i got the menu entry first but when i switched to wayland then it's gone

[2021-09-16 10:27] Darguima commented on #124
Spotify-AdKiller only silences the ads, it doesn't work as an ad blocker (so you'll still see the banners).
But you can set it to play local tracks while the ad is muted by setting `CUSTOM_MODE` and downloading songs to `CUSTOM_MUSIC`. You can read more about [here](https://github.com/SecUpwN/Spotify-AdKiller#settings)

About Spotify remains muted, you already tried [this](https://github.com/SecUp

[2021-09-16 18:54] zefir-git commented on #124
I tried about 2 or 3 different solutions to remove ads as well but was left with the impression they did not work (maybe too outdated). I tried this one and it did work for removing ads completely, or at least, as far as I remember, until the Spotify client was updated, which I would guess was a major update as many features were updated.
I cannot recall precisely as this was almost a year ago and

[2021-09-16 18:54] #124 closed, assigned to nobody

[2021-09-24 11:02] mykg commented on #125
Yeah same is happening to me. well they are in beta for spotify-client-1x ... and I can't install spotify-client-0.9x

[2021-10-23 17:40] AndreFrois14 commented on #92
This post solved the issue for me
https://askubuntu.com/questions/1037091/no-sound-output-from-spotify-on-18-04

[2021-12-02 06:27] CheetoIncognito commented on #126
If your using adkiller on android or a phone in general I would really appreciate any tips on what to download and how to use it. Im new to this

[2022-03-14 14:21] hamburg1r opened #128 "No support for pipewire"
So, I was trying to use spotify-adkiller in endeavour os which uses pipewire instead of pulseaudio and doesn't have pacmd. How can I use it without pacmd?

[2022-07-15 20:58] Snwowball17 opened #129 "Something went wrong.."
I triend installing uninstalling thrice but getting the same error after applying the blocker.. how to get rid of it?

[2022-09-29 01:58] crawlchange opened #130 "It doesn't work. I guess it only works in US region."
Maybe you should make explicit that it only works for people in the US or using a US vpn.